[submodule "group_autotesting/googletest"]
	path = group_autotesting/googletest
	url = https://github.com/google/googletest.git
[submodule "group_autotesting/libreoffice-cppunit"]
	path = group_autotesting/libreoffice-cppunit
	url = https://github.com/freedesktop/libreoffice-cppunit.git
[submodule "group_foundation/poco"]
	path = group_foundation/poco
	url = https://github.com/pocoproject/poco.git
[submodule "group_media/SFML"]
	path = group_media/SFML
	url = https://github.com/SFML/SFML.git
[submodule "group_media/openal-soft"]
	path = group_media/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "group_media/SDL"]
	path = group_media/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "group_media/flac"]
	path = group_media/flac
	url = https://github.com/xiph/flac.git
[submodule "group_media/vorbis"]
	path = group_media/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "group_media/ogg"]
	path = group_media/ogg
	url = https://github.com/xiph/ogg.git
[submodule "group_media/zlib"]
	path = group_media/zlib
	url = https://github.com/madler/zlib.git
[submodule "group_media/glew-cmake"]
	path = group_media/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "group_media/freealut"]
	path = group_media/freealut
	url = https://github.com/vancegroup/freealut.git
[submodule "group_media/FreeGLUT"]
	path = group_media/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT.git
