[submodule "group_autotesting/googletest"]
	path = group_autotesting/googletest
	url = https://github.com/google/googletest.git
[submodule "group_autotesting/libreoffice-cppunit"]
	path = group_autotesting/libreoffice-cppunit
	url = https://github.com/freedesktop/libreoffice-cppunit.git
[submodule "group_foundation/poco"]
	path = group_foundation/poco
	url = https://github.com/pocoproject/poco.git
